.login-page {
  min-height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 25px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.login-title {
  color: #ffc107;

  font-weight: 600;
  margin-top: 10px;
}

.restaurant-icon {
  font-size: 3rem;
  color: #ffc107;

}

.register-link {
  color: #ffc107;
  text-decoration: none;
  font-weight: 500;
}

.register-link:hover {
  color: #ffca28;
  text-decoration: underline;
}