.form-control {
  height: auto !important;
  /* this will break floating labels */
}

.booking-form-container {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 30px;
  text-align: center;
  border-left: 5px solid #ffc107;
}

.booking-form-container button {
  background-color: #ffc107;
  color: #2a2a2a;
  border: none;
}

.booking-form-container button:hover {
  background-color: #ffc150;
  color: #2a2a2a;
  border: none;
}
